body {
  display: grid;
  grid-template-areas: "header", "section", "carousel", "footer";
  background-color: white; }

header input + label {
  position: absolute;
  top: 40px;
  right: 40px;
  height: 20px;
  width: 15px;
  z-index: 5; }
  header input + label span {
    position: absolute;
    width: 20px;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    background: #e38f84;
    transition: .5s; }
  header input + label span:first-child {
    top: 3px; }
  header input + label span:last-child {
    top: 16px; }
header label:hover {
  cursor: pointer; }
header input:checked + label span {
  opacity: 0;
  top: 50%; }
header input:checked + label span:first-child {
  opacity: 1;
  transform: rotate(405deg); }
header input:checked + label span:last-child {
  opacity: 1;
  transform: rotate(-405deg); }
header input ~ nav {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 3;
  transition: .5s;
  transition-delay: 0.5s;
  overflow: hidden; }
  header input ~ nav > img {
    width: 150px;
    padding-left: 30px;
    margin-top: 10px; }
  header input ~ nav > ul {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 20%;
    right: 20%; }
    header input ~ nav > ul > li {
      opacity: 0;
      transition: .5s;
      transition-delay: 0s; }
      header input ~ nav > ul > li > a {
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        font-weight: 700;
        font-family: sans-serif;
        display: block;
        padding: 30px; }
header input:checked ~ nav {
  height: 100%;
  transition-delay: 0s; }
  header input:checked ~ nav > ul > li {
    opacity: 1;
    transition-delay: .5s; }

section .about {
  background-image: url(../images/Code4CT-homepage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px; }
section .innerbox {
  text-align: center;
  height: 320px;
  padding-bottom: 120px;
  color: white;
  width: 150px;
  margin-left: 90px;
  margin-bottom: 100px;
  background-color: rgba(1, 1, 1, 0.5); }
  section .innerbox > h1 {
    font-family: "Open Sans",Arial,sans-serif;
    line-height: 1em;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 1.2em; }
  section .innerbox > p {
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 1.3em; }
section #anything > #btn1 {
  background-color: transparent;
  margin-left: 110px;
  border: 3px solid white;
  border-radius: 4px;
  padding: 5px 8px 5px 8px;
  width: 80px;
  color: white; }
  section #anything > #btn1 #btn1:hover {
    padding-left: 1500px; }
section #btn2 {
  border: 3px solid white;
  border-radius: 4px;
  padding: 5px 8px 5px 10px;
  width: 80px;
  color: white;
  background-color: transparent; }
section div.slider {
  padding-bottom: 20px;
  padding-top: 20px; }
  section div.slider #divOne {
    height: 10px;
    width: 15px;
    background-color: white;
    padding-top: auto;
    transition: padding-top 0.5s ease-in-out;
    box-shadow: 1px 1px  black;
    display: inline-block;
    margin-top: 20px;
    margin-left: 120px; }
  section div.slider #divTwo {
    height: 10px;
    width: 15px;
    padding-top: auto;
    transition: padding-top 1s ease-in-out;
    background-color: white;
    box-shadow: 1px 1px  black;
    margin-top: -13px;
    margin-left: 140px; }
  section div.slider #divThree {
    height: 10px;
    width: 15px;
    padding-top: auto;
    transition: padding-top 1s ease-in-out;
    background-color: white;
    box-shadow: 1px 1px  black;
    display: inline-block;
    margin-left: 160px;
    margin-top: -12px; }
  section div.slider #divOne:hover {
    padding-top: 2%;
    background-color: #e38f84;
    outline: none;
    border: none; }
  section div.slider #divTwo:hover {
    padding-top: 2%;
    background-color: #e38f84;
    outline: none;
    border: none; }
  section div.slider #divThree:hover {
    padding-top: 2%;
    background-color: #e38f84;
    outline: none;
    border: none; }

.who-we-are img {
  width: 350px; }

.who-we-are {
  background-color: white;
  font-family: "Open Sans" ,Arial,sans-serif;
  text-align: center;
  font-weight: 500;
  line-height: 35px;
  color: #666; }
  .who-we-are #btn3 {
    background: transparent;
    border: 2px solid #e38f84;
    border-radius: 4px;
    padding: 5px 8px 5px 8px;
    width: 100px;
    color: #e38f84;
    font-size: 15px; }

#section2 {
  background-color: black; }
  #section2 > .icon1, #section2 .icon2, #section2 .icon3, #section2 .icon4 {
    font-family: "Open Sans",Arial,sans-serif;
    text-align: center; }
    #section2 > .icon1 > h3, #section2 .icon2 > h3, #section2 .icon3 > h3, #section2 .icon4 > h3 {
      color: white;
      font-weight: 500;
      font-size: 35px;
      line-height: 1.7em;
      letter-spacing: 2px; }
      #section2 > .icon1 > h3 .loud, #section2 > .icon1 > h3 .tool, #section2 > .icon1 > h3 .doc, #section2 .icon2 > h3 .loud, #section2 .icon2 > h3 .tool, #section2 .icon2 > h3 .doc, #section2 .icon3 > h3 .loud, #section2 .icon3 > h3 .tool, #section2 .icon3 > h3 .doc, #section2 .icon4 > h3 .loud, #section2 .icon4 > h3 .tool, #section2 .icon4 > h3 .doc {
        padding-top: 200px; }
    #section2 > .icon1 > p, #section2 .icon2 > p, #section2 .icon3 > p, #section2 .icon4 > p {
      line-height: 30px;
      font-size: 17px;
      color: #666; }

#section3 .portfolio {
  text-align: center;
  font-family: "Open Sans" ,Arial,sans-serif; }
  #section3 .portfolio > h1 {
    color: #3e3e3e;
    font-size: 35px; }
  #section3 .portfolio > p {
    line-height: 1.7em;
    color: #666;
    overflow: hidden; }
#section3 .team {
  text-align: center;
  font-family: "Open Sans" ,Arial,sans-serif; }
  #section3 .team #emma > h2, #section3 .team #andrea > h2, #section3 .team #tegan > h2, #section3 .team #tracy > h2 {
    color: #3e3e3e;
    font-size: 31px; }
  #section3 .team #emma > p, #section3 .team #andrea > p, #section3 .team #tegan > p, #section3 .team #tracy > p {
    border: 1px solid #666;
    padding: 2px 12px 2px 12px;
    color: #666;
    line-height: 1.7em;
    letter-spacing: 0.1em; }

#subscription {
  text-align: center;
  font-family: "Open Sans",Arial,sans-serif;
  padding: 0 0 10px 0; }
  #subscription > h2 {
    font-size: 35px;
    color: #3e3e3e; }

> p {
  color: #666; }
  > p > .submit {
    background-color: #e38f84;
    color: white;
    padding: 2px 12px 2px 12px;
    border-radius: 5px; }

#section5 {
  text-align: center;
  color: #666; }
  #section5 > .contact-info h2 {
    color: #3e3e3e;
    font-size: 33px; }
  #section5 > .contact-info img {
    padding: 0 8px 0 2px; }

footer {
  text-align: center;
  background-color: #e38f84; }
  footer > p {
    color: white; }

header {
  height: 10px; }

#catergory1 {
  padding-top: 50px;
  font-family: "Open Sans",Arial,sans-serif;
  text-align: center; }
  #catergory1 .pageheader {
    background-color: #f8f8f8;
    height: 200px;
    color: #797979;
    padding-top: 150px; }
    #catergory1 .pageheader h1 {
      font-size: 80px;
      font-weight: lighter; }
    #catergory1 .pageheader p {
      font-size: 30px; }
      #catergory1 .pageheader p span > a {
        text-decoration: none;
        color: #e38f84; }
  #catergory1 .underline {
    border-bottom: 8px #e38f84 solid; }
  #catergory1 .info1 {
    padding: 0 20px 0 20px; }
    #catergory1 .info1 h1 {
      color: #3e3e3e;
      font-size: 35px;
      padding-top: 30px; }
    #catergory1 .info1 p {
      line-height: 2em;
      letter-spacing: 1px;
      color: #666; }
  #catergory1 .info2 {
    padding-bottom: 50px; }
    #catergory1 .info2 h1 {
      color: #3e3e3e;
      font-size: 35px; }
    #catergory1 .info2 h2 {
      color: #e38f84;
      font-weight: lighter; }
    #catergory1 .info2 p {
      color: #666;
      font-weight: lighter; }
  #catergory1 .info3 {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    font-family: "Open Sans" ,Arial,sans-serif; }
    #catergory1 .info3 > h2 {
      color: #3e3e3e;
      font-size: 31px; }
    #catergory1 .info3 h3 {
      font-style: italic;
      font-weight: lighter;
      font-size: 15px;
      color: #666; }
    #catergory1 .info3 > p {
      border: 1px solid #666;
      padding: 2px 12px 2px 12px;
      color: #666;
      line-height: 1.7em;
      letter-spacing: 0.1em; }
  #catergory1 .company ul, #catergory1 .learn ul {
    list-style-type: none; }
    #catergory1 .company ul li a, #catergory1 .learn ul li a {
      text-decoration: none;
      color: #666; }
  #catergory1 .company a:hover, #catergory1 .learn a:hover {
    color: #e38f84; }

#catergory1 .countup, #number .countup {
  font-family: "Open Sans" ,Arial,sans-serif;
  background-color: black;
  padding-top: 50px; }
  #catergory1 .countup .counter, #number .countup .counter {
    color: white;
    text-align: center;
    font-size: 95px;
    line-height: 80px;
    background-color: black;
    border-radius: 50%;
    height: 100px;
    vertical-align: middle;
    position: relative;
    transition: all .8s ease;
    padding-top: 80px; }
  #catergory1 .countup .name, #number .countup .name {
    color: white;
    text-align: center;
    padding-bottom: 20px;
    font-style: italic; }

section .header {
  font-family: "Open Sans",Arial,sans-serif;
  text-align: center;
  background: blue; }
  section .header .pageheader {
    background-color: #f8f8f8;
    height: 200px;
    color: #797979;
    padding-top: 150px; }
    section .header .pageheader h1 {
      margin-top: -50px;
      font-size: 50px;
      font-weight: lighter; }
    section .header .pageheader p {
      font-size: 30px; }
      section .header .pageheader p span > a {
        text-decoration: none;
        color: #e38f84; }

section {
  font-family: "Open Sans",Arial,sans-serif;
  text-align: center;
  color: #3e3e3e; }
  section > .message button {
    color: white;
    background: #e38f84;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    border: none; }
  section .underline {
    border-bottom: 5px #e38f84 solid; }
  section .contact {
    padding-bottom: 20px; }
  section .company ul, section .learn ul {
    padding-left: 5px;
    list-style-type: none; }
    section .company ul li a, section .learn ul li a {
      text-decoration: none;
      color: #666; }
  section .company a:hover, section .learn a:hover {
    color: #e38f84; }

.portfolio-info p {
  line-height: 1.5em; }

.gallery img {
  width: 350px;
  height: 250px; }

.slider-press {
  cursor: pointer; }

.slider-number {
  padding: 5px;
  border: 1px black solid;
  background-color: white;
  color: black;
  border-radius: 3px; }

.indicated {
  background-color: pink; }

section .course-1 code-info {
  font-style: italic; }

#slideshow {
  overflow: hidden;
  height: 200px;
  width: 350px;
  margin: 0 auto; }

.slide-wrapper {
  width: 2080px;
  animation: slide 18s ease infinite; }

.slide {
  float: left;
  height: 200px;
  width: 1000px; }

.slide:nth-child(1) {
  background: url(../images/carousel.jpg);
  background-position: center;
  background-repeat: repeat-x;
  background-size: cover; }

.slide:nth-child(2) {
  background: url(../images/carousel-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.slide:nth-child(3) {
  background: url(../images/carousel-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.slide:nth-child(4) {
  background: url(../images/carousel.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.slideText {
  color: black;
  text-align: center;
  font-size: 5em; }

@keyframes slide {
  20% {
    margin-left: 0px; }
  30% {
    margin-left: -520px; }
  50% {
    margin-left: -520px; }
  60% {
    margin-left: -1040px; }
  70% {
    margin-left: -1040px; }
  80% {
    margin-left: -1560px; }
  90% {
    margin-left: -1560px; } }
.slider-press {
  margin-top: 20px;
  margin-bottom: 20px; }
  .slider-press .left-arrow {
    margin-right: 90px; }
  .slider-press .right-arrow {
    margin-left: 90px; }
  .slider-press .left-arrow, .slider-press .right-arrow {
    font-size: 50px;
    font-weight: bold; }
  .slider-press .slider-number {
    background-color: #e38f84;
    padding: 0 5px 0 5px; }

@media only screen and (min-width: 746px) {
  body #section1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto; }
    body #section1 #anything {
      grid-column: 1/6;
      grid-row: auto; }
      body #section1 #anything .innerbox {
        width: 1100px;
        height: 50px; }
        body #section1 #anything .innerbox p {
          font-size: 20px; }
  body .who-we-are {
    grid-column: 1/6;
    grid-row: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto; }
    body .who-we-are h1 {
      grid-column: 1/3;
      grid-row: auto; }
    body .who-we-are p {
      grid-column: 1/3;
      grid-row: auto; }
    body .who-we-are #btn3 {
      grid-column: 1/3;
      grid-row: auto;
      height: 30px;
      margin-top: 80px;
      margin-left: 284px; }
    body .who-we-are .num1, body .who-we-are .num3 {
      grid-column: 3/4; }
    body .who-we-are .num2, body .who-we-are .num4 {
      grid-column: 4/5; }
    body .who-we-are .num1, body .who-we-are .num2 {
      grid-row: 2/3; }
    body .who-we-are .num3, body .who-we-are .num4 {
      grid-row: 3/4; }
    body .who-we-are img {
      width: 300px;
      height: 210px; }
  body #section2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto; }
    body #section2 .tool, body #section2 .loud, body #section2 .computer, body #section2 .doc {
      width: 100px;
      height: 100px;
      padding-top: 10px; }
    body #section2 p {
      padding-left: 5px;
      padding-right: 5px; }
  body #section3 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto; }
    body #section3 .portfolio {
      grid-column: 1/9;
      grid-row: auto; }
    body #section3 .team {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row: auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto; }
      body #section3 .team h1, body #section3 .team p {
        grid-column: 1/5; }
      body #section3 .team #emma {
        grid-column-start: 1;
        grid-column-end: 3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 59px; }
        body #section3 .team #emma img {
          grid-column: 1/2;
          grid-row: 1/7;
          width: 90%; }
        body #section3 .team #emma h2 {
          grid-column: 2/3;
          grid-row: 1/2; }
        body #section3 .team #emma h3 {
          grid-column: 2/3;
          grid-row: 2/3; }
        body #section3 .team #emma p {
          border: 0cm;
          grid-column: 2/3;
          grid-row: 3/7; }
      body #section3 .team #andrea {
        grid-column-start: 3;
        grid-column-end: 5;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 59px; }
        body #section3 .team #andrea img {
          grid-column: 1/2;
          grid-row: 1/7;
          width: 90%; }
        body #section3 .team #andrea h2 {
          grid-column: 2/3;
          grid-row: 1/2; }
        body #section3 .team #andrea h3 {
          grid-column: 2/3;
          grid-row: 2/3; }
        body #section3 .team #andrea p {
          border: 0cm;
          grid-column: 2/3;
          grid-row: 3/7; }
      body #section3 .team #tegan {
        grid-column-start: 1;
        grid-column-end: 3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 59px; }
        body #section3 .team #tegan img {
          grid-column: 1/2;
          grid-row: 1/7;
          width: 90%; }
        body #section3 .team #tegan h2 {
          grid-column: 2/3;
          grid-row: 1/2; }
        body #section3 .team #tegan h3 {
          grid-column: 2/3;
          grid-row: 2/3; }
        body #section3 .team #tegan p {
          border: 0cm;
          grid-column: 2/3;
          grid-row: 3/7; }
      body #section3 .team #tracy {
        grid-column-start: 3;
        grid-column-end: 5;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 59px; }
        body #section3 .team #tracy img {
          grid-column: 1/2;
          grid-row: 1/7;
          width: 90%; }
        body #section3 .team #tracy h2 {
          grid-column: 2/3;
          grid-row: 1/2; }
        body #section3 .team #tracy h3 {
          grid-column: 2/3;
          grid-row: 2/3; }
        body #section3 .team #tracy p {
          border: 0cm;
          grid-column: 2/3;
          grid-row: 3/7; }
  body #number {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 300px; }
    body #number .countup .girl-count, body #number .countup .girls {
      grid-column-start: 1;
      grid-column-end: 2; }
    body #number .countup .code-count, body #number .countup .coding {
      grid-column-start: 2;
      grid-column-end: 3; }
    body #number .countup .coffee-count, body #number .countup .coffee {
      grid-column-start: 3;
      grid-column-end: 4; }
    body #number .countup .project-count, body #number .countup .projects {
      grid-column-start: 4;
      grid-column-end: 5; }
  body #slideshow {
    height: 200px;
    width: 1350px;
    margin: 0 auto; }
  body #section5 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto; }
    body #section5 .contact-info, body #section5 .contact {
      text-align: left;
      grid-column-start: 1;
      grid-column-end: 2; }
    body #section5 .company {
      grid-column-start: 2;
      grid-column-end: 3; }
      body #section5 .company li {
        padding-bottom: 10px; }
  body #catergory1 .info1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 100px; }
    body #catergory1 .info1 h1, body #catergory1 .info1 p {
      grid-column-start: 1;
      grid-column-end: 3; }
    body #catergory1 .info1 h1 {
      grid-row-start: 2;
      grid-row-end: 3; }
    body #catergory1 .info1 img {
      padding-right: 50px;
      padding-top: 100px;
      width: 500px;
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 7; } }

/*# sourceMappingURL=input.css.map */
